<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.post.postMapper">
	
	<!-- 게시글 등록 -->
	<insert id="insertPost" parameterType="postVO">
		insert into post(id ,title, content, date)
		values( #{id}, #{title}, #{content}, sysdate())
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="selectPosts" resultType="postDomain">
		select post_seq, id, title, content, del_yn, date
		from post
	</select>
	
	
</mapper>
